<!DOCTYPE html>
<html>
    <head>
        <title>Chandra</title>
        <link rel="stylesheet" href="/static/styles.css">

    </head>
    <body>
        <div class="scanlines"></div>
        <div class="scanline"></div>
        <div class="flicker"></div>
          <pre>
    
    <a href="index.html" class="ascii-art"></a><titles>
        #    ___             _         __    _______                __        
        #   / _ \_______    (_)__ ____/ /_  / ___/ /  ___ ____  ___/ /______ _
        #  / ___/ __/ _ \  / / -_) __/ __/ / /__/ _ \/ _ `/ _ \/ _  / __/ _ `/
        # /_/  /_/  \___/_/ /\__/\__/\__/  \___/_//_/\_,_/_//_/\_,_/_/  \_,_/ 
        #              |___/                                                  
        #        <a href="/">Home</a>                            <a href="https://github.com/Space-Apps-Challenge/chandra-website">GitHub</a>
        </titles></a>
    
        <titles>#Our Cookie Policy:</titles>


        <br><br>
    <center>
    In the context of computers, cookies are small files that contain information about browsing activity.

    Whenever you visit a website, the website sends a cookie to the device you're using to access the website.
    Your device automatically stores the cookie in a file that's located within your web browser.

    When you revisit a site, the website will respond in a more personalized way,
    remembering your preferences, providing faster page load times and so forth. 
    </center>
    </pre>

</html>